extends layout

block content
  head
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css',   integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3', crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Rubik')
    meta(name='viewport', content='width=device-width, initial-scale=1')

  h1= title

  div()
      ul
        for element, index in list
          div(class='clearfix container')
            if (index%2 ===0)
              div(class= 'event1 pic')
                img(src='/images/' + element.creator.email + '.png' width='100%' height='auto')
              div(class='event1 description')
                h2= element.summary
                if(element.location)
                  if(element.location.startsWith("http"))
                    a(href=element.location) Event link
                    p=' '
                  else
                    p= 'Location of the event is: ' + element.location
                    p=' '
                p= element.description
                h3= element.start.dateTime.slice(8,10) + '/' + element.start.dateTime.slice(5,7) + '          kl    ' +element.start.dateTime.slice(11,16) + '-' + element.end.dateTime.slice(11,16)
            else if (index%2 !==0)
              div(class= 'event2 pic')
                img(src='/images/' + element.creator.email + '.png' width='100%' height='auto')
              div(class='event2 description')
                h2= element.summary
                if(element.location)
                  if(element.location.startsWith("http"))
                    a(href=element.location) Event link
                    p=' '
                  else
                    p= 'Location of the event is: ' + element.location
                    p=' '
                p= '\n' + element.description
                h3= element.start.dateTime.slice(8,10) + '/' + element.start.dateTime.slice(5,7) + '          kl    ' +element.start.dateTime.slice(11,16) + '-' + element.end.dateTime.slice(11,16)


